<!DOCTYPE html>
<html>
<head>
  <title>URL Crawler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>URL Crawler</h1>
    <form role="form" method="POST" action="/">
      <!-- enter a website to be crawled -->
      <div class="form-group">
        <input type="text" name="url" class="form-control" id="url-box" placeholder="URL">
      </div>
      <button type="submit" class="btn btn-default">Start Crawl!</button>
      <!-- spit out json data of links and pictures from crawl -->
    </form>

    <br>
    {% for error in erros %}
      <h4>{{ error }}</h4>
    {% endfor %}
    
  </div>
</body>
</html>